<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBm22JqCu01yEZN26y7a1o-OKYQi8t1qIg</string>
	<key>GCM_SENDER_ID</key>
	<string>698155674027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finTrackOcr.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fintrack-ocr</string>
	<key>STORAGE_BUCKET</key>
	<string>fintrack-ocr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698155674027:ios:5b4d317109c934ccf04aee</string>
</dict>
</plist>